@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;600&display=swap");

.home-title {
  line-height: 0.5em;
  font-size: 2em;
  display: flex;
  /* align-items: center; */
  justify-content: right;
  text-align: right;
  overflow-wrap: break-word;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.home-subtitle {
  line-height: 0.5em;
  font-size: 1em;
  display: flex;
  justify-content: right;
  text-align: right;
  overflow-wrap: break-word;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.main-footer {
  position: relative;
  top: 15vh;
}

.main-footer p {
  font-weight: 400;
  line-height: 57px;
  margin: 0.5rem 0;
  padding-bottom: 0;
  padding-top: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.footer-ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
