@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;600&display=swap");

* {
  font-weight: 400;
}

.chat-container {
  width: 25vw;
  height: 500px;
  border-radius: 20px;
  background-color: rgba(186, 101, 35, 0.6);
  padding-top: 0.8em;
  position: relative;
}

.chat-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chat-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.mute {
  width: 2em;
  height: 2em;
}

.send {
  width: 2em;
  height: 2em;
}

.send-box {
  background: #cbcbcb;
  padding: 0.3em;
  border-radius: 10px;
}

.clipboard {
  background: #cbcbcb;
  color: black;
  margin: 1em;
  border-radius: 10px;
  width: 15rem;
  padding-left: 0.5em;
}

.send-message {
  background: #cbcbcb;
  color: black;
  margin: 1em;
  border-radius: 10px;
  width: 14rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.message-bubble {
  display: flex;
  justify-content: space-between;
  background: #cbcbcb;
  color: black;
  border-radius: 20px;
  padding: 0.1em 1em 0.1em 1em;
  margin: 1em;
}

.message-bubble .message-sender {
  font-size: 0.5em;
}

.add-friend {
  width: 3em;
  height: 3em;
}

.clipboard-img {
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
}

.clipboard p {
  padding: 0.5em;
  font-size: 1em;
}

.leave-room {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff2222;
  width: 25vw;
  margin-top: 1em;
  border-radius: 10px;
}

.leave-room a {
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}

.leave {
  width: 2em;
  height: 2em;
}

.column {
  float: left;
  padding: 10px;
  height: 300px;
}

audio {
  width: 30em;
}

.playlist {
  display: flex;
  justify-content: start;
  font-size: 1.3em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.playlist-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-title {
  margin: 3em 0 0 4em;
}

.playlist-subtitle {
  margin: 0 0 0 5em;
}

.cover-img {
  width: 280px;
  height: 280px;
  background-image: url("/cover.jpg");
  background-size: cover;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.song {
  display: flex;
  justify-content: space-between;
  background-color: rgba(186, 101, 35, 0.6);
  margin-right: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 30px;
}

.song h2 {
  font-size: 1.3rem;
  margin-left: 3rem;
}

.song audio {
  position: relative;
  right: 0;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}
